body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.wrapper {
    width: 966px;
    height: 950px;
    margin: 0 auto;
    padding: 50px 48px 0 46px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 5px #D6D6D6;
}

.horMenu {
    padding: 34px 0 0 0;
}

.mainMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: 
        -moz-linear-gradient( 90deg, rgb( 68, 67, 67 ) 0%, rgb( 94, 94, 94 ) 100%);
    background-image: 
      -webkit-linear-gradient( 90deg, rgb( 68, 67, 67 ) 0%, rgb( 94, 94, 94 ) 100%);
    height: 40px;
}

.mainMenuItem {
    float: left;
}

.mainMenuItem a {
    display: block;
    text-align: center;
    padding: 13px 25px;
    margin-right: 45px; 
    text-decoration: none;
    font-size: 14px;
    font-family: "Times New Roman";
    color: #ffffff;
    line-height: 1;
    text-shadow: 0.5px 0.866px 1px rgb( 0, 0, 0 );
}

/* Change the link on hover */
.mainMenuItem a:hover {
    background-color: black;
    border-left: 2px solid #838383;
    border-right: 2px solid #838383;
}

.container {
    padding: 40px 0 0 0;
}

.sideBar {
    float: left;
    width: 240px;
    background-color: #ffffff;
}

.sideBarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 240px;
    border: 1px solid #c8c8c8;
}

.sideBarItem a {
    display: block;
    padding: 13px 24px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Times New Roman";
    color: #656363;
}

.sideBarItem {
    border-bottom: 1px solid #c8c8c8;
}

.sideBarItem:last-child {
    border-bottom: none;
}

.sideBarItem a:hover {
    padding-left: 34px;
    background-color: #f9f9f9;
    color: #2c2c2c;
}

.content {
    float: right;
}

.imageBox {
    height: 400px;
    width: 678px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c8c8c8;
}

.descr {
    width: 630px;
    padding: 40px 24px 0 24px;
    font-size: 14px;
    font-family: "Times New Roman";
    color: #2c2c2c;
    line-height: 1.6;
}

.descr p {
    margin: 0;
}

.footer {
    clear: both;
    padding: 40px 0 0 0;
}

.footerMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
    height: 40px;
}

.footerMenuItem {
    float: left;
}

.footerMenuItem a {
    display: block;
    text-align: center;
    padding: 13px 25px;
    margin-right: 45px; 
    text-decoration: none;
    font-size: 14px;
    font-family: "Times New Roman";
    color: #2c2c2c;
    line-height: 1;
}

/* Change the link on hover */
.footerMenuItem a:hover {
    text-decoration:underline;
}

.footerMenu li:last-child {
    float: right;
}

.footerMenuItem p {
    display: block;
    padding: 13px 25px;
    margin: 0;
    font-size: 14px;
    font-family: "Times New Roman";
    color: #2c2c2c;
    line-height: 1;
}