
body {
    margin: 0;
    padding: 0;
}

table {
    margin: auto;
    border-collapse: collapse;
}
tr, td {
    border: 10px solid black;
    padding: 30px;
}

.yellow {
    background: yellow;
    width: 180px;
}

.red {
    background: red;
    height: 297px;
    width: 297px;
}

.blue {
    background: blue;
    height: 105px;
}

.black {
    background: black;
}