body {
    margin: 0;
    padding: 0;
    background-color: #0c739f;
    background-image: url(../img/body_bg.jpg);
    background-repeat: repeat-x;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 5px 5px #031e29;
}

.header {
    padding: 12px 33px 0 28px;
    height: 164px;
}

.header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.logo {
    float:left;
}

.logo a {
    display: block;
    height: 164px;
}

.contacts {
    float: right;
}

.contacts p {
    margin: 0 0 7px 0;
    font-size: 11px;
    font-family: "Tahoma";
    color: #128aa7;
    text-align: left;
}

.countriesContainer {
    margin: 14px 0 0 0;
    float: right;
    clear: right;
}

.countryList {
    margin: 0;
    list-style: none;
}

.countryList li {
    float: left; /* выстраиваем элементы списка в один ряд */
    margin-left: 14px;
}

.countryList li a {
    display: block;
    text-align: center;
    font-size: 10px;
    font-family: "Tahoma";
    color: #128aa7;

}

 figure {
     margin: 0;
     display: block; /* Блочный элемент */
}

.countriesContainer p {
    margin: 7px 0;
}

.image {
    height: 237px;
    clear: both;
}
           

/*------------МЕНЮ-------------*/

.horMenu {
    border-bottom: 1px solid black;
    background-color: #303030;
}

.horMenu:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;
    width: 14.281%;
}

ul.menu > li > a {
    display: block;
    padding: 8px;
    font-size: 14px;
    font-family: "Tahoma";
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

ul.menu > li > a:hover {
    background-color: #303030;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 140px;
    left: 20px;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 8px;
    font-size: 14px;
    font-family: "Tahoma";
    color: #ffffff;
    background-color: #303030;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: none;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

.dropdown:after {
    content: url(../img/triangle.jpg);
}

.leftblock {
    float: left;
    height: 546px;
    width: 169px;
    padding: 0 24px 0 15px;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    font-size: 14px;
    font-family: "Tahoma";
    color: #424c43;
}

.rightblock {
    float: right;
    height: 546px;
    width: 169px;
    padding: 0 24px 0 15px;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    font-size: 14px;
    font-family: "Tahoma";
    color: #424c43;
}

.articleName {
    text-align: center;
}

p {
    margin: 7px 0;
}

.copyright {
    text-align: center;
    font-size: 11px;
    font-family: "Tahoma";
    color: #ffffff;     
}

.content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



